/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

%btn {
  display: inline-block;
  position: relative;
  font-family: $sans-serif;
  text-decoration: none;
  color: $white;
  // font-size: 0.9em;
  // font-size: 34px;
  // line-height: 34px;
  // font-weight: normal;
  // padding: 0 24px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  @include transition(background-color 0.14s ease-in-out);

  &:hover, &:focus {
    color: $white;
    text-decoration: none;
    outline: none;
  }

  &:active {
    top: 1px;
  }

}

.btn-brown {
  @extend %btn;
  background-color: #e1b777;
  @include gradient-vertical(#e1b777, #ca9953);
  &:hover,
  &:focus {
	  @include gradient-vertical(darken(#e1b777, 4%), #ca9953);
  }
  &:active {
	  @include gradient-vertical(darken(#e1b777, 5%), #ca9953);
  }

}

.btn-green {
  	@extend %btn;
	background-color: #87a816;
	@include gradient-vertical(#87a816, #627d03);
  &:hover,
  &:focus {
	  @include gradient-vertical(darken(#87a816, 4%), #627d03);
  }
  &:active {
    @include gradient-vertical(darken(#87a816, 5%), #627d03);
  }
}
