/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.page-template-page-articles {
	.nav-main {
		.plate {
			width: 500px;
			height: 180px;
			position: absolute;
			bottom: 45px;
			left: 50%;
			margin-left: -250px;
			background: url(../images/header-plate.png) no-repeat center bottom;
			background-size: 100%;
		}
	}
}
