/******************************************************************
Site Name:
Author:

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

.page-template-page-articles {
	.nav-main {
		.plate {
			width: 640px;
			height: 180px;
			position: absolute;
			bottom: 45px;
			left: 50%;
			margin-left: -320px;
			background: url(../images/header-plate.png) no-repeat center bottom;
			background-size: 100%;
		}
	}
}
