/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: 'PT Sans', sans-serif;
	font-size: 15px;
	line-height: 1.5;
	color: $text-color;
	background-color: $white;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
		outline: none;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 600;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 1.5em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.5em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.25em;
}

h4, .h4 {
	font-size: 1.125em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}


/*********************
BUTTONS STYLES
*********************/

%btn {
  display: inline-block;
  position: relative;
  font-family: 'PT Sans', sans-serif;
  // text-decoration: none;
  // font-size: 0.9em;
  // font-size: 34px;
  // line-height: 34px;
  // padding: 0 24px;
  // border-radius: 4px;
  color: $white;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  @include transition(background-color 0.14s ease-in-out);

  &:hover, &:focus {
    color: $white;
    text-decoration: none;
    outline: none;
  }

  &:active {
    top: 1px;
  }

}

.btn-brown {
  @extend %btn;
  @include gradient-vertical(#e1b777, #ca9953);
  &:hover,
  &:focus {
	  @include gradient-vertical(darken(#e1b777, 4%), #ca9953);
  }
  &:active {
	  @include gradient-vertical(darken(#e1b777, 5%), #ca9953);
  }

}

.btn-green {
  	@extend %btn;
	@include gradient-vertical(#87a816, #627d03);
  &:hover,
  &:focus {
	  @include gradient-vertical(darken(#87a816, 4%), #627d03);
  }
  &:active {
    @include gradient-vertical(darken(#87a816, 5%), #627d03);
  }
}

.btn {
	&-more {
		font-weight: normal;
	}
	&-order {
		white-space: normal;
		padding: 16px 10px;
		font-size: 16px;
	}
	&-white {
		color: #c48e42;
		border-color: #c48e42;
		border-radius: 3px;
		font-weight: normal;
		padding: 6px 16px;
		font-size: 13px;
		&:hover, &:focus {
			color: #a3513d;
			border-color: #a3513d;
		}
	}
}

.checkbox {
  padding-left: 0px; }
  .checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px; }
    .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
    .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555; }
  .checkbox input[type="checkbox"],
  .checkbox input[type="radio"] {
    opacity: 0;
    z-index: 1; }
    .checkbox input[type="checkbox"]:focus + label::before,
    .checkbox input[type="radio"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .checkbox input[type="checkbox"]:checked + label::after,
    .checkbox input[type="radio"]:checked + label::after {
      font-family: "FontAwesome";
      content: "\f00c"; }
.checkbox input[type="checkbox"]:indeterminate + label::after,
.checkbox input[type="radio"]:indeterminate + label::after {
  display: block;
  content: "";
  width: 10px;
  height: 3px;
  background-color: #555555;
  border-radius: 2px;
  margin-left: -16.5px;
  margin-top: 7px;
}
    .checkbox input[type="checkbox"]:disabled + label,
    .checkbox input[type="radio"]:disabled + label {
      opacity: 0.65; }
      .checkbox input[type="checkbox"]:disabled + label::before,
      .checkbox input[type="radio"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }
  .checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  .checkbox.checkbox-inline {
    margin-top: 0; }

.radio {
  padding-left: 20px; }
  .radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px; }
    .radio label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 50%;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out; }
    .radio label::after {
      display: inline-block;
      position: absolute;
      content: " ";
      width: 11px;
      height: 11px;
      left: 3px;
      top: 3px;
      margin-left: -20px;
      border-radius: 50%;
      background-color: #555555;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
  .radio input[type="radio"] {
    opacity: 0;
    z-index: 1; }
    .radio input[type="radio"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .radio input[type="radio"]:checked + label::after {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1); }
    .radio input[type="radio"]:disabled + label {
      opacity: 0.65; }
      .radio input[type="radio"]:disabled + label::before {
        cursor: not-allowed; }
  .radio.radio-inline {
    margin-top: 0; }

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
  font-family: 'FontAwesome';
  content: "\f00c"; }
input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
  color: #fff; }
input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
  color: #fff; }


.checkbox {
	label {
		color: #a98857;
	}
	label::before {
		width: 20px;
		height: 20px;
		border: 1px solid #e5e5e2;
	}
	label::after {
		font-size: 15px;
    	color: transparent;
    	line-height: 18px;
	}
	&-0 {
		label {
			font-weight: bold;
			color: $green;
		}
		label::before {
			width: 20px;
			height: 20px;
			border: 2px solid $green;
		}
		label::after {
			font-size: 15px;
	    color: #76940e;
	    line-height: 18px;
		}
	}
}


/*********************
HEADER STYLES
*********************/

.header {
	height: 363px;
	background: url(../images/header-bg.jpg) no-repeat top center;
	.container {
		position: relative;
		.logo {
			margin: 40px 0;
		}
		.tools {
			position: absolute;
			right: 0px;
			top: 60px;
			width: 210px;
			text-align: right;
			.phone {
				padding-left: 20px;
				font-size: 20px;
				color: #7a4c17;
				background: url(../images/phone-icon.png) no-repeat 0px 10px;
				span {
					font-size: 26px;
					font-weight: bold;
				}
			}
			.adress {
				font-size: 16px;
				line-height: 18px;
				text-decoration: underline;
				color: #76940e;
			}
		}
	}
}

/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.nav-main {

	.container {
		position: relative;
		margin: 0 auto;
		height: 70px;
		background: url(../images/nav-bg.jpg) repeat-x left top;
		background-size: 100% auto;
	}

	ul {
		margin: 0;
	}

	li {
		display: inline-block;
		a {
			height: 70px;
			display: block;
			color: $white;
			padding: 0 25px;
			line-height: 70px;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: bold;
			&:first-child {

			}
			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
			&:hover, &:focus {
				color: $white;
				text-decoration: underline;
			}
		}
		&:first-child {
			// padding-left: 15px;
		}
		&:last-child {
			display: block;
			float: right;
			margin-top: 12px;
			text-indent: -9999px;
			width: 147px;
			height: 44px;
			background: url(../images/calc-icon.png) no-repeat left top;
		}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {
			li {
				a {
					padding-left: 30px;
					&:hover,
					&:focus {}
					&:link {}
				}
				&:first-child {}
				&:last-child {}
			}
		}
	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */

.breadcrumbs {
	margin-bottom: 10px;
	// padding-left: 15px;
	color: #aaaaaa;
	font-size: 14px;
	a {
		color: #aaaaaa;
		font-size: 14px;
		text-decoration: underline;
	}
}

.page-navi {
	span {
		vertical-align: top;
    	line-height: 32px;
	}
	.pagination {
		display: inline-block;
    	margin: 0;
		.page-numbers {
			margin: 0;
		}
		.current {
			color: $white;
			background: #b53f26;
			text-decoration: none;
		}
		.next {
			text-decoration: none;
		}
		li {
			border: none;
			margin-right: 1px;
		}
		a,
		span {
			padding: 8px 6px;
			border-radius: 4px;
			color: #a0552d;
			text-decoration: underline;
		}
		a:hover {
			color: $white;
			background: #b53f26;
			text-decoration: none;
		}
	}
}

/*********************
SIDEBAR & BLOCK STYLES
*********************/
.block {
	&-title {
		display: inline-block;
		font-size: 23px;
		font-weight: 600;
		color: #a3513d;
	}
	&-btn-all {
		display: inline-block;
	}
}

.block-home-categories {
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 5px;
	border: 5px solid #cba36f;
	.item {
		min-height: 300px;
		padding: 0 30px;
		margin-bottom: 20px;
		text-align: center;
		a {
			color: #894e23;
			text-transform: uppercase;
			text-decoration: none;
			&:hover,
			&:focus {
				color: #88a917;
			}
		}
		.image {
			height: 132px;
			img {
				vertical-align: bottom;
			}
		}
		.title {
			margin: 10px 0;
			font-size: 23px;
		}
		.desc {
			text-align: left;
			padding-left: 10px;
			font-size: 13px;
			line-height: 15px;
			color: #a18c7c;
		}
	}
}

.block-sub-categories {
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 5px;
	border: 5px solid #cba36f;
	.item {
		display: inline-block;
		.title {
			margin: 10px 30px;
		}
	}
}

.block-home-works {
	min-height: 200px;
}

.block-home-articles {
	min-height: 200px;
}

.block-related-posts {
	padding-bottom: 80px;
	.block-title {
		padding-left: 15px;
		font-size: 18px;
		color: #6b6968;
	}
}


.sidebar-categories {
	padding: 0;
	margin-bottom: 15px;
	border-radius: 5px;
	border: 5px solid #cba36f;
	.box {
		display: block;
		padding: 10px;
		text-align: center;
		&:hover {
			background-color: #f8ead7;
		}
	}
	.image,
	.title {
		display: inline-block;
	}
	.title {
		width: 100%;
		text-transform: uppercase;
		font-weight: 700;
		color: #894e23;
	}
}

.sidebar-articles {
	padding: 15px;
	margin-bottom: 80px;
	border-radius: 6px;
	border: 7px solid #cba162;
	background: $white;
	.nav {
		margin: 0;
		.menu-item-has-children > a {
				text-decoration: none;
				text-transform: uppercase;
				font-size: 20px;
				font-weight: bold;
		}
		.sub-menu {
			list-style: disc;
			margin: 0;
    		padding-left: 20px;
			.menu-item > a {
				line-height: 26px;
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

.sidebar {
	.banner {
		display: block;
		margin-bottom: 15px;
		img {
			width: 100%;
			height: auto;
		}
	}
}

/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	margin-top: 20px;
}

.feedback {
	height: 300px;
	padding: 10px 20px 10px 420px;
	background: url(../images/feedback-bg.jpg) no-repeat left bottom;
	background-size: 100% auto;
	&-man {
		width: 365px;
		height: 355px;
		position: absolute;
		bottom: 16px;
		left: 0;
		background: url(../images/feedback-man.png) no-repeat left bottom;
	}
	&-title {
		font-size: 23px;
		font-weight: bold;
		span {
			color: $red;
		}
	}
	&-desc {
		font-size: 15px;
		margin-bottom: 20px;
	}
	&-control {
		display: inline-block;
		&.name {
			width: 45%;
		}
		&.email {
			width: 50%;
			float: right;
		}
		&.message {
			width: 100%;
		}
	}
}

#orderModal {
	.modal-content {
		background: url(../images/feedback-bg.jpg) repeat center center;
	}

}

.wpcf7-submit {
	@extend %btn;
	padding: 12px 40px;
	border-radius: 6px;
	text-transform: uppercase;
	@include gradient-vertical(#e1b777, #ca9953);
    &:hover,
    &:focus {
  	  @include gradient-vertical(darken(#e1b777, 4%), #ca9953);
    }
    &:active {
  	  @include gradient-vertical(darken(#e1b777, 5%), #ca9953);
    }
}

.wpcf7-response-output  {
	position: absolute;
	right: 15px;
	bottom: 20px;
	background: #ffffff;
	border-radius: 6px;
}

.projects-grid {
	padding: 0;
	.post {
		.project-content {
			position: relative;
			overflow: hidden;
			border: 1px solid #cccccc;
			border-radius: 4px;
			padding: 3px;
			.cover {
				position: absolute;
				left: 0;
				top: 0;
				text-align: center;
				display: inline-block;
				width: 100%;
				height: auto;
				min-height: 170px;
				text-decoration: none;
				border-radius: 4px;
				background-color: rgba(0,0,0,0.6);
				opacity: 0;
				@include transition(opacity 0.2s ease-in-out);
				&:hover {
					opacity: 1;
				}
				.title {
					padding: 50px 0 110px 0;
					font-size: 15px;
					line-height: 20px;
					color: $white;
				}
			}
			img {
				width: 100%;
				height: auto;
				margin: 0;
			}

		}
	}
}


.projects-category {
	padding-bottom: 80px;

}





.page-template-page-articles {
	background: url(../images/sky-bg.jpg) no-repeat center top;
	.header {
		height: 180px;
		background: transparent;
	}
	.nav-main {
		.plate {
			width: 640px;
			height: 180px;
			position: absolute;
			bottom: 45px;
			left: 50%;
			margin-left: -320px;
			background: url(../images/header-plate.png) no-repeat center top;
			background-size: cover;
		}
	}
}

.hentry {
	margin-bottom: 1em;

}

.single-title,
.archive-title,
.category-title,
.page-title,
.entry-title {
	margin: 0 0 0.6em 0;
	color: #a3513d;
}

.block-title {
	margin: 0.6em 0.6em 0.6em 0;
	font-size: 18px;
	font-size: 23px;
	color: #6b6968;
	color: #a3513d;
	vertical-align: middle;
}

.single-title {
	padding-left: 15px;
}
.page-title {}
.entry-title {}
.archive-title {}

.category-description {
	margin-bottom: 0.6em;
}

.archive {}
.post-id {}
.post {}
.page {
	.home {
		.page-title {
			margin-top: 0;
		}
	}
}
.attachment {}
.sticky {}
.hentry {}
.category-slug {}
.tag-slug {}

.page-article {
	.container,
	.sidebar {
		padding-left: 0;
	}
}


/* post meta */
.byline {
	color: $meta-gray;
	font-style: italic;
	margin: 0;

	time {}
}

/* entry content */
.entry-content {
	display: inline-block;
	padding: 0;

	.slider {
		margin: 0;
		img {
			margin: 0;
		}
	}
	.bx-wrapper {
		margin-bottom: 15px;
	}
	.pager {
		margin-bottom: 40px;
		a {
			display: inline-block;
			padding: 4px;
			margin-right: 30px;
			border-radius: 4px;
			border: 1px solid transparent;
			&.active {
				border-color: #adba65;
			}
			&:hover {
				border-color: #926d52;
			}
			img {
				margin: 0;
			}
		}
	}

	.project-content {
		h4 {
			margin: 0.6em 0 0.6em 0;
			font-size: 18px;
			color: #a3513d;
		}
		ul {
			li {
				padding-left: 1em;
				color: #4d4743;
			}
			li:before {
				content: "• ";
				color: #cf6147;
			}
		}
	}

	.project-data {
		.params {
			.param {
				height: 32px;
				line-height: 32px;
			}
			.label {
				float: left;
			}
			.value {
				float: right;
				font-weight: bold;
			}
		}

		.price {
			padding: 10px 0;
			.label {
				font-size: 16px;
				color: #4d4743;
			}
			.value {
				line-height: 36px;
				font-size: 33px;
				font-weight: bold;
				color: #ba7217;
			}
		}
	}

			p {
				margin: 0 0 1em;
			}

			table {
				width: 100%;
				border: 1px solid $gray;
				margin-bottom: 1.5em;

				caption {
					margin: 0 0 7px;
					font-size: 0.75em;
					color: $meta-gray;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}

			tr {
				border-bottom: 1px solid $gray;

				&:nth-child(even) {
					background-color: $light-gray;
				}
			}

			td {
				padding: 7px;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			th {
				background-color: $light-gray;
				border-bottom: 1px solid $gray;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			blockquote {
				margin: 0 0 1.5em 0.75em;
				padding: 0 0 0 0.75em;
				border-left: 3px solid $blue;
				font-style: italic;
				color: $meta-gray;

				&:before {}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			.size-auto,
			.size-full,
			.size-large,
			.size-medium,
			.size-thumbnail {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: $black;
				color: $light-gray;
				font-size: 0.9em;
				padding: 1.5em;
				margin: 0 0 1.5em;
				border-radius: 3px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {

			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

	// the tag output
	.tags {
		margin: 0;
	}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $blue;

      &:hover, &:focus {
      	background-color: $blue;
      	color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: $text-color;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */


/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background: url(../images/footer-bg.jpg) repeat left bottom;
	&-top {
		height: 26px;
		background: url(../images/footer-top.jpg) repeat-x left top;
	}
	&-logo {
		margin-top: 20px;
	}
	&-nav {
		margin-bottom: 30px;
		.map {
			display: block;
		}
	}
	&-title {
		padding: 20px 0 10px 0;
		font-family: $opensans;
		font-weight: bold;
		text-transform: uppercase;
		color: $title-color;
	}
	&-links {
		ul {
			margin: 0;
			padding-left: 15px;
			li {}

		}
	}
}
